#header1 {background-color: black; font-family: sans-serif;}
#header2 {background-color: purple; color: white; text-align: center; font-family: sans-serif}
#header3 {background-color: lightblue; color: purple; text-align: right; text-decoration: underline; font-family: sans-serif;}