/* This is for Styling */
#header1 {background-color: black; font-family: sans-serif;}
#header2 {background-color: purple; color: white; text-align: center; font-family: sans-serif}
#header3 {background-color: lightblue; color: purple; text-align: right; text-decoration: underline; font-family: sans-serif;}


/* This is for BottonUp */

#box1 
{
    background-color: white;
    color: green;
    text-align: center;
    height: 25px;
    width: 150px;
    border: 1px solid green;
    border-radius: 100px;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 5px;
    margin: 40px;
}
#box2
{
    background-color: green;
    color: white;
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin: 40px;
}
#box3
{
    background-color: blue;
    padding-top: 7.5px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    text-align: center;
    height: 25px;
    width: 175px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px black;
    margin: 40px;
}


/* This is for Plotting Blocks */

.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    overflow: hidden;
    height: auto;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-top: 10px;
    margin: 25px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: 10px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    float: right;
    margin: 10px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    float: right;
    margin: 10px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 250px;
    margin-left: 20px;
}

